body {
    background-color: purple;
}
img {
    width: 60vw;
    display: block;
    border: 3px solid violet;
    margin: 15px;
}
h1 {
    color: violet;
    text-align: center;
    font-size: 10vw;
    font-family: bannerFont;
}
h2 {
    color: violet;
    text-align: center;
    font-size: 4vw;
    font-family: bannerFont;
    margin-top: 30px;
}
a {
    font-size: 5vw;
    color: purple;
}
a:visited {
    color: purple;
}
a:hover {
   font-size: 10vw; 
}
@font-face {
    font-family: bannerFont;
    src: url(/Fascinate/Fascinate-Regular.ttf);
}
#middleDiv {
    display: flex;
    justify-content: center;
    margin: 30px;
}
#rightMiddleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#lineOne, #lineTwo, #lineThree {
    text-align: center;
    margin: 10px;
    border: 3px solid violet;
    background-color: violet;
    padding: 5px;
    border-radius: 10px;
    font-family: bannerFont;
}
#bottomDiv {
    display: flex;
    justify-content: center;
    margin: 30px;
}
hr {
    color: violet;
    border-width: 2px;
    border-style: solid;
}
#container {
    width: 70vw;
    margin: 30px;
}